<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mi Portafolio</title>
    
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="contenedor">
            <nav class="menu">
                <a href="">Inicio</a>
                <a href="">Acerca de</a>
                <a href="">Portafolio</a>
                <a href="">Contacto</a>
            </nav>
            <div class="contenedor-texto-header">
                <h1 class="titulo-header">Jonathan Isaza</h1>
                <div class="linea"></div>
                <h2 class="subtitulo-header">Desarrollador Web FrontEnd</h2>
                <a href="" class="action">Contr치tame Ahora</a>
            </div>
        </div>
    </header>
    <main>
        <section class="acerca-de">
            <div class="contenedor">
                <div class="contenedor-texto-acerca-de">
                    <h2 class="titulo-acerca-de">Dise침o Simple & Puro</h2>
                    <p class="parrafo-acerca-de">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas iure
                        sit repudiandae, nihil nam a <br> quidem aperiam unde molestias officiis fugiat. Soluta magni
                        iste quos molestias sequi veritatis cum quasi!</p>
                </div>
            </div>
        </section>
        <section class="icono">
            <div class="contenedor">
                <div class="contenedor-icono">
                    <div class="icono-individual">
                        <img src="/src/assets/images/img/icono1.png" alt="">
                        <h3>Lorem, ipsum.</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae a incidunt natus aut, sit
                            rerum!</p>
                    </div>
                    <div class="icono-individual">
                        <img src="/src/assets/images/img/icono2.png" alt="">
                        <h3>Lorem, ipsum.</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae a incidunt natus aut, sit
                            rerum!</p>
                    </div>
                    <div class="icono-individual">
                        <img src="/src/assets/images/img/icono3.png" alt="">
                        <h3>Lorem, ipsum.</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae a incidunt natus aut, sit
                            rerum!</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="portafolio">
            <div class="contenedor">
                <div class="contenedor-texto-portafolio">
                    <h2 class="titulo-portafolio">Haz de tu trabajo algo extraordinario</h2>
                    <p class="parrafo-portafolio">Cont치ctame si est치s preparado</p>
                </div>
                <div class="contenedor-portafolio">
                    <img src="/src/assets/images/img/1.jpg" alt="">
                    <img src="/src/assets/images/img/2.jpg" alt="">
                    <img src="/src/assets/images/img/3.jpg" alt="">
                    <img src="/src/assets/images/img/4.jpg" alt="">
                    <img src="/src/assets/images/img/5.jpg" alt="">
                    <img src="/src/assets/images/img/6.jpg" alt="">
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="contenedor">
            <div class="footer-texto">
                <h2 class="titulo-footer">Contacta Conmigo</h2>
                <p class="parrafo-footer">Lorem, ipsum dolor.</p>
            </div>
            <form action="" class="formulario" method="post">
                <input type="text" name="nombre" placeholder="Nombre" id="" class="nombre-contacto">
                <input type="email" name="nombre" placeholder="Correo" id="" class="nombre-correo">
                <textarea name="mensaje" class="mensaje" placeholder="Mensaje"></textarea>
                <div class="derecha">
                    <input type="submit" value="Contactar" class="boton-envio">
                </div>
            </form>
        </div>
    </footer>
</body>

</html>